body > header { /* UPDATED */   
    background-color: orange;
   }
body > footer { /* UPDATED */
    background-color: rgb(10, 245, 225);
   }
body {
    
    margin: 0; /* NEW */
    font-family: Helvetica, Arial, sans-serif;
   }  
body > footer > p { /* NEW */
    padding: 16px; /* NEW */
    color: white; /* NEW */
    text-align: center; /* NEW */
   }
body > header { /* NEW */
    background-color: rgb(10, 245, 225); /* NEW */
    color: black; /* NEW */
   } /* NEW */
   #nav-ul {
    display: flex;
    }

#nav-ul > li {
    padding: 8px;
    margin: 16px;
    }

.navbutton {
    colour: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    }

    main {
    padding: 0 16px;
}

img {
    width: 80%;
}



header > nav > ul {
    display: flex;
}
